/** @format */

.medium-4 columns {
  color: #fff;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FMarvel_Comics&psig=AOvVaw2Gy7CBfGhbjU-uR9ydRTrl&ust=1682649778205000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCIDtzYSFyf4CFQAAAAAdAAAAABAI");
  background-position: center;
  background-size: contain;
}

.top-bar-right {
  position: absolute;
}

#heroName {
  border: 4px solid pink;
  background-color: black;
  width: 80%;
  color: grey;
}
