/** @format */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.medium-4 columns {
  color: #fff;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FMarvel_Comics&psig=AOvVaw2Gy7CBfGhbjU-uR9ydRTrl&ust=1682649778205000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCIDtzYSFyf4CFQAAAAAdAAAAABAI");
  background-position: center;
  background-size: contain;
}

#apiDisplayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#submit-search {
  height: 39px;
  background-color: rgb(201, 197, 197);
  padding: 0 1rem 0 1rem;
}
.hero-finder #heroName {
  font-size: 4rem;
}

.hero-finder-header {
  height: auto;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.top-bar-right {
  width: 40%;
}

#search-bar {
  font-family: sans-serif;
  /* width: 80%; */
}

#search-button {
  margin-left: 10px;
}

#suggestions {
  position: absolute;
  background-color: #eee;
  z-index: 1;
}
.heroImage {
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
}
#weatherApi {
  list-style-type: none !important;
  text-align: left;
  color: rgb(77, 77, 190);
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
